body, #out {
  margin: 0;
}
dialog {
  padding: 10px;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
#torch, #scan_btn, #a2hs {
  border: none;
  font-size: x-large;
  font-weight: 900;
  height: 100px;
  left: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
#torch {
  background-color: yellow;
  bottom: 100px;
}
#scan_btn {
  background-color: cornflowerblue;
  bottom: 0;
}
#a2hs {
  background-color: darkseagreen;
  height: 81px;
  padding-top: 19px;
  text-align: center;
  top: 0;
}
#accept_btn, #dismiss_btn {
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 5px;
  padding: 5px;
}
#accept_btn {
  background-color: chartreuse;
}
#dismiss_btn {
  background-color: red;
}
#settings_btn {
  background: no-repeat center center url("../images/gear.svg"), lightgray;
  border-radius: 10px;
  height: 39px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 39px;
}